
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Best shouts!</title>
    <link rel="stylesheet" href="/css/shout.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <form action="/users/logout" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input class="shout-input" type="submit" name="logout" value="Log out">
    </form>
    <a href="/">home</a>

    <h1>These are the best shouts ever!</h1>

    <section class="timeline">
      <% if @shouts.any? %>
        <% @shouts.each do |shout| %>
          <div class="shout-card">
            <p>
            <a href="/<%= shout.user.handle %>"><%= shout.user.handle %></a> said:
            </p>
            <p>
            <span><%= shout.message %></span>
            </p>
            <p>
              <%= shout.likes %> like/s | <%= shout.created_at %>
            </p>
            <form action="/shouts/like/<%= shout.id %>" method="post">
              <input type="submit" name="like" value="Like">
            </form>
          </div>
        <% end %>
      <% end %>
    </section>
  </body>
</html>
